/* BASIC STYLES HERE */
.api-img{
  background-image: url('https://bcw-sandbox.herokuapp.com/api/images');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
}


